[SddmGreeterTheme]
Name=Mazipan
Description=TODO
Type=sddm-theme
Version=2.1
Website=https://github.com/marzipan-theme/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Marzipan
Theme-API=2.0
License=MIT
QtVersion=6
